<div class="message">
  <div class="circle-image-user">
    <%= image_tag message.user.image.url %>
  </div>

  <div class="chatting">
    <p><%= message.user.name %></p>
    <p><%= message.content %></p>
  </div>
</div>
