<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% end %>

<!--<ul>-->
<!--  <% @users.each do |users| %>-->
<!--    <li><%= link_to users.id %>:<%= users.name %></li>-->
<!--  <% end %>-->
<!--</ul>-->
