<% if logged_in? %>
  <h2>Room一覧</h2>
  <div class='youtube_home'>
    <% @rooms.reverse.each do |room| %>

      <div class='col'>
        <%= link_to room_path(room) do %>
          <h3><%= room.name %></h3>
          <img src="https://img.youtube.com/vi/<%= room.youtube_url.scan(/\?v=([^&]+)/).flatten[0] %>/hqdefault.jpg">
        <% end %>
      </div>

    <% end %>
  </div>

<% else %>
<p>ログイン前表示</p>
<% end %>
