<h1><%= "ルーム名：#{@room.name}" %></h1>

<div id="messages">
  <%= render "messages/message" %>
</div>

<form>
  <label>Say something:</label>
  <div class="form-group">
    <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>">
  </div>
</form>

<!-- jquery動作確認用 -->
<script>
  $("#messages").css("color","red")
</script>
