<div id="room">
  <h2><%= "#{@room.name}" %></h2>

  <div id="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @room.youtube_url%>"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>

  <div id="chat">
    <div id="messages" data-room_id="<%= @room.id %>">
      <div id="all-messages">
        <%= render @messages %>
      </div>
    </div>
    <div id="chat-form">
      <form>
        <label class="ef">
          <input type="text" placeholder="コメント" data-behavior="room_speaker">
        </label>
      </form>
    </div>
  </div>
</div>
<!-- jquery動作確認用 -->
<!-- <script>
  $("#messages").css("color","red")
</script> -->
