.room-create{
  width: 1300px;
  margin: 0 auto;
}

.room-form{
	position: relative;
	width: 27.33%;
	margin: 40px 3%;
}
.room-form input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.room-form input[type='text']:focus {
	outline: none;
}
.room-form input[type='text']:focus::after {
	outline: none;
}

/* アンダーライン */
.room-form::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #da3c41;
}
/* ボタン */
.create-button{
  margin: 40px 3%;
}
a{ color: black; }
.return-home{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 160px;
	padding: 1em;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;
	color: #ffffff;
	border: 1px solid #FFB300;
	border-radius: 0.25rem;
	background: #FFB300;
}
.return-home:hover{
	color: #ffffff;
	border-color: #FF8F00;
	background-color: #FF8F00;
}
.return-home:focus {
  outline: none;
	color: #ffffff;
	border: 1px solid #FFB300;
}

.return-home input[type='submit'] {
  border-style: none;
  background: #FFB300;
}
