*{
  margin: 0;
  padding: 0;
}
.youtube_home{
  border: 5px solid pink;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}
.col{
  border: 5px solid red;
  width: 500px;
  height: 450px;
  display: inline-block;
}
