.top-img-login{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-img-login img{
  width: 100vw;
  margin: 0 auto;
}

.sign-in-top{
  margin: 50px auto 0;
  width: 1300px;
}
/* 新規登録 */
.signin{
  width: 160px;
  margin: 0 auto;
}
.signin a{
  position: relative;
  display: inline-block;
  overflow: hidden;

  width: 160px;
  height: 20px;
  padding: 1em;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  border-radius: 0.25rem;
  text-align: center;

  color: black;
  border: 1px solid #FFB300;
  background-color: #FFB300;
  outline: none;
}
.signin a:hover{
	border-color: #40E0D0;
	background-color: #40E0D0;
}
/* ログイン */
.login{
  width: 160px;
  margin: 20px auto 0;
}
.login a{
  position: relative;
  display: inline-block;
  overflow: hidden;

  width: 160px;
  height: 20px;
  padding: 1em;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  border-radius: 0.25rem;
  text-align: center;

  color: black;
  border: 1px solid #FFB300;
  background-color: #FFB300;
  outline: none;
}
.login a:hover{
	border-color: #32CD32;
	background-color: #32CD32;
}
