/* room全体 */
#room{
  width: 1300px;
  height: 440px;
  margin: 0 auto;
}
/* youtube動画 */
#youtube{
  width: 50%;
  float: left;
  /* border: 1px solid red; */
}
#youtube iframe{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
/* チャット */
#chat{
  width: 50%;
  float: right;
}
/* スクロールバー */
div#messages{
  display: block;
  margin: 0 auto;

  width: 400px;
  height: 400px;
  overflow: auto;
  word-wrap: break-word;
  white-space: normal;
  border: 1px solid red;
  padding: 10px;
  /* background-color: rgb(220, 220, 220); */
  text-align: left;
 }
/* フォーム */
 #chat-form input[type='text']{
 	font: 15px/24px sans-serif;
 	box-sizing: border-box;
 	width: 100%;
 	padding: 0.3em;
 	letter-spacing: 1px;
 	border: 1px solid #1b2538;
 	border-radius: 4px;
  margin-top: 10px;
 }
.ef input[type='text']:focus{
 	border: 1px solid #da3c41;
 	outline: none;
 	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
 }

/* チャット中身 */
.message{
  display: block;
  margin-bottom: 10px;
}
.message:after{
  content: "";
  display: block;
  clear: both;
}
.message .circle-image-user{
  display: inline-block;
  float: left;
  width: 80px;
}
/* 位置 */
h2{
  margin: 50px auto 0;
  width: 1200px;
}
.home-button{
  margin: 350px auto 0;
  width: 1200px;
}
#chat form{
  width: 400px;
  margin: 0 auto;
}
